## 01. Import Libraries and Data Sets

In [1]:
#import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#import datasets
path = r'/Users/juliewhitton/Desktop/Personal Project/'
df_inc = pd.read_csv(os.path.join(path, 'Data', 'Intermediary Data', 'reduced_incidents.csv'))
df_pol = pd.read_csv(os.path.join(path, 'Data', 'Intermediary Data', 'state_control.csv'))
df_pop = pd.read_csv(os.path.join(path, 'Data', 'Intermediary Data', 'transformed_pop.csv'))
df_laws = pd.read_csv(os.path.join(path, 'Data', 'Intermediary Data', 'laws_new.csv'))
df_inc.head()

,incident_id,state,year,n_killed,n_injured,n_guns_involved,latitude,longitude
0,95289,MI,2014,0,0,NaN,43.2301,-86.2514
1,92401,NJ,2014,0,0,NaN,40.7417,-74.1695
2,92383,NY,2014,1,0,NaN,40.7034,-73.7474
3,92142,NY,2014,0,1,NaN,40.6715,-73.9476
4,95261,MO,2014,0,1,NaN,37.2646,-93.3007

In [3]:
df_inc.shape

(225597, 8)

In [4]:
df_pol.head()

   year state state_control
0  2014    AL           Rep
1  2014    AK           Rep
2  2014    AZ           Rep
3  2014    AR       Divided
4  2014    CA           Dem

In [5]:
df_pol.shape

(204, 3)

In [6]:
df_pop.head()

   year state  population
0  2014    AL     4841799
1  2014    AK      736283
2  2014    AZ     6730413
3  2014    AR     2967392
4  2014    CA    38596972

In [7]:
df_pop.shape

(204, 3)

In [8]:
df_laws.head()

,state,year,registration_req,open_carry_legal,open_carry_permit_req,permit_req_purchase,felons_may_own,restraining_order_may_own,dv_offender_may_own,violent_offender_may_own,conv_stalker_may_own,dealer_req_license,bg_check_required,concealed_carry_permit_req,guns_on_college_campus,guns_at_elemen_sch,assault_weapon_ban
0,AL,2014,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No
1,AK,2014,No,Yes,No,No,No,Yes,Yes,Yes,Yes,No,No,No,Yes,No,No
2,AZ,2014,No,Yes,No,No,No,Yes,No,Yes,No,No,No,No,Yes,Yes,No
3,AR,2014,No,Yes,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,No,No,No
4,CA,2014,No,No,Yes,Yes,No,No,No,No,No,Yes,Yes,Yes,No,Yes,Yes

In [9]:
df_laws.shape

(204, 17)

## 02. Prepare and Perform Merges

In [10]:
#rearrange cols so state is followed by year

df_inc = df_inc[['incident_id', 'state', 'year', 'n_killed', 'n_injured', 'n_guns_involved', 'latitude', 'longitude']]
df_pol = df_pol[['state', 'year', 'state_control']]
df_pop = df_pop[['state', 'year', 'population']]
df_pop.head()

  state  year  population
0    AL  2014     4841799
1    AK  2014      736283
2    AZ  2014     6730413
3    AR  2014     2967392
4    CA  2014    38596972

In [11]:
#merge laws and legislative party dfs

df_pol_laws = pd.merge(df_pol, df_laws, on = ['state', 'year'])
df_pol_laws.head(10)

,state,year,state_control,registration_req,open_carry_legal,open_carry_permit_req,permit_req_purchase,felons_may_own,restraining_order_may_own,dv_offender_may_own,violent_offender_may_own,conv_stalker_may_own,dealer_req_license,bg_check_required,concealed_carry_permit_req,guns_on_college_campus,guns_at_elemen_sch,assault_weapon_ban
0,AL,2014,Rep,No,Yes,No,No,Yes,Yes,Yes,Yes,Yes,Yes,No,Yes,Yes,Yes,No
1,AK,2014,Rep,No,Yes,No,No,No,Yes,Yes,Yes,Yes,No,No,No,Yes,No,No
2,AZ,2014,Rep,No,Yes,No,No,No,Yes,No,Yes,No,No,No,No,Yes,Yes,No
3,AR,2014,Divided,No,Yes,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,No,No,No
4,CA,2014,Dem,No,No,Yes,Yes,No,No,No,No,No,Yes,Yes,Yes,No,Yes,Yes
5,CO,2014,Dem,No,Yes,No,No,No,No,No,Yes,No,No,Yes,Yes,No,No,No
6,CT,2014,Dem,No,No,Yes,Yes,No,No,No,No,No,Yes,Yes,Yes,Yes,No,Yes
7,DE,2014,Dem,No,Yes,No,No,No,No,No,No,No,Yes,Yes,Yes,Yes,No,No
8,FL,2014,Rep,No,No,Yes,No,No,No,Yes,Yes,Yes,No,No,Yes,No,No,No
9,GA,2014,Rep,No,Yes,Yes,No,No,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Yes,No

In [12]:
df_pol_laws.shape

(204, 18)

## 03. Export  Data Sets

In [13]:
df_pol_laws.to_csv(os.path.join(path, 'Data', 'Final Data', 'pol_laws.csv'), index = False)
df_pop.to_csv(os.path.join(path, 'Data', 'Intermediary Data', 'pop_ordered.csv'), index = False)
df_inc.to_csv(os.path.join(path, 'Data', 'Final Data', 'inc_ordered.csv'), index = False)
df_pol.to_csv(os.path.join(path, 'Data', 'Intermediary Data', 'pol_ordered.csv'), index = False)